
body {
font-family: 'Heebo', sans-serif;}

h1, h2, h3, h4, button {
font-family: 'Heebo', sans-serif;
}

.about { background: 
   #ffdaff;
    font-size: 15px;
    margin-bottom: 40px;
}

.container {
    max-width:960px;
    margin: auto;
}

img {
    max-width: 500%;
    width: auto;
    height: auto;
}
.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 30px;
    padding-top:40px;
}

p {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
h3{
     font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{font-size: 42px;
margin-bottom: 10px;
}


.about img {
  display: block;
}
body {
    margin: 0;}


.button {
    font-size: 19px;
    color: black;
    text-decoration: none;
    border: 2.5px solid  black;
    padding: 20px;
    display: inline-block;
    margin-top:5px;
    transition:.7s;
border-radius:7px; }

.button:hover{
    background:black;
    color:#ffdaff;
  
    
}
.logo{
    max-width: 450px;
    display: block;
    margin: auto;
    margin-bottom: -80px;
    margin-top: -80px;
}
 

.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:80px;
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    color: #000;
    
}
.gallery img{
      display: block;
grid-gap: 28px;
}


h2 {
    font-size: 36px;
    margin-top: 0px;
    text-align: center;
    
   
}


.contact {
    background:
     #ffdaff;
    font-size: 24px;
    text-align: center;
    margin-top: 60px;
    padding: 40px 0;
    
}.contact a {
  text-decoration: none;
}
.contact a:hover {
  text-decoration: underline;
}


a {
    color:#2c3350;
    font-size: 20px;
    
}
.contact a:hover{
    opacity: 0.7;
}.contact ul {
  list-style: none;
  padding: 0;
}
.contact li {
  margin-bottom: 10px;
}


.footer {
    background:#2c3350;
    text-align: center;
    padding: 40px 0;
}
.footer a {
    margin: 0 10px;
}
