body {
    font-family: 'Rubik', sans-serif;
    color: black;
}

h1 {
    font-family: font-family: 'Suez One', serif;
    ;
    color:#a92c32;
    font-size: 50px;
    font-weight: 700
}

p {
    font-size: 21px;
    color:white;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

ul {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

ol {
    color: black;
    font-size: 20px;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

li {
    font-weight: 400;
}

60 h3 {
    font-size: 20px;
    font-weight: 500;

}

.containter {
    max-width: 810px;
    margin: auto;
}

.cta {
    background: #d9b067;
    font-size: 21px;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;

}

.cta h3 {
    font-size: 25px;
    color: brown;
}

.bottom {background: darkgreen;
    text-decoration: none;
    color: white;
    padding: 8px;
    margin-top: 50px;
    margin-bottom: 20px;

}    

.alignleft {
    float: left;
    margin-right: 10px;
    max-width: 250px;
    margin-left: 10px;
}
.cta{
    overflow: hidden
}
.container {
    max-width: 800px;
    margin: auto;    
}

.news {
  padding: 60px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(img/text.jpg);
  background-position:center;
    background-size: cover;
    text-align: center;
    
}

}

 {
    
}

label {
    color: aliceblue;
    margin-bottom: 20px;
    display: block;
}

input {

  font: inherit;
  color: inherit;
  background: none;
  border: 1px solid #fff ;
    padding: 5px;

}

.botton {
        border:2px solid white;
    color:white;
}



span {
}

form {
    font-size:16px;
}

.button {
    padding: 5px 20px ;
    background: #fff;
    display: block;
    margin: auto;
    border-radius: 10px;    cursor: pointer;

}
.button:hover {
    color:limegreen;
}