body {
    font-family: 'Rubik', sans-serif;
    color: black;
}

h1 {
    font-family: font-family: 'Suez One', serif;
    ;
    color: brown;
    font-size: 50px;
    font-weight: 700
}

p {
    font-size: 20px
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: forestgreen
}

ul {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

ol {
    color: black;
    font-size: 20px;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

li {
    font-weight: 400;
}

60 h3 {
    font-size: 20px;
    font-weight: 500;

}

.containter {
    max-width: 810px;
    margin: auto;
}

.cta {
    background: Beige;
    font-size: 21px;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;

}

.cta h3 {
    font-size: 25px;
    color: darkgreen;
}

.bottom {
    background: red;
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
    margin-top: 50px;
    margin-bottom: 20px;


}
