body {
    font-family: 'Rubik', sans-serif;
    color: black;
}

h1 {
    font-family: font-family: 'Suez One', serif;
    ;
    color: brown;
    font-size: 80px;
    font-weight: 700
}

p {
    font-size: 20px
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: forestgreen
}

ul {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

ol {
    color: black;
    font-size: 20px;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

li {
    font-weight: 400;
}

h3 {
    font-size: 30px;

}

.containter {
    max-width: 810px;
    margin: auto;
}
