@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OS Aran_400FFC';
  src: url('fonts/aran/os_aran_400ffc-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OS Aran_W_500FFC';
  src: url('fonts/aran/os_aran_w_500ffc-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family:'carmela' ;
  src: url('fonts/carmela/400/carmela.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body {

    margin: 0;
  font-family: 'OS Aran_W_500FFC','OS Aran_400FFC','opensans', sans-serif;
  line-height: 1.5;
    background-color: #000;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
h1{ font-size: 50px;
    font-family:OS Aran_W_500FFC;
    font-weight: 500;}
h1:after{
    content: "";
    border-bottom: 2px solid #7c2729;
    width: 250px;
    display: block;
    margin: auto;
}

h2 {font-size: 35px;
    color:#e0e0e0;
font-family:OS Aran_400FFC; }

p {font-family:OS Aran_400FFC;
    font-weight: 400;
    font-size: 30px;}

.button {
    text-decoration: none;
    color: #a22628;
    background:#c5c5c5;
    padding:  12px 12px;
    display: inline-block;
    font-size: 18px;
}
.button:hover{
    background: #FFF;
    color:#000;
}

.button:after{
    content: " >";
}
.container {
    max-width: 1500px;
    margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(img/disk.jpg);
  background-position: center 70%;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
    color: #fff;
   
    
}



.container {text-align: center;
    padding: 15px;
    
}
