@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OS Aran_400FFC';
  src: url('fonts/aran/os_aran_400ffc-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OS Aran_W_500FFC';
  src: url('fonts/aran/os_aran_w_500ffc-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family:'carmela' ;
  src: url('fonts/carmela/400/carmela.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body {

    margin: 0;
  font-family: 'OS Aran_W_500FFC','OS Aran_400FFC','opensans', sans-serif;
  line-height: 1.5;
    background-color: #000;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
h1{ font-size: 50px;
    font-family:OS Aran_W_500FFC;
    font-weight: 500;
color: #fff;}
h1:after{
    content: "";
    border-bottom: 2px solid #7c2729 ;
    width: 250px;
    display: block;
    margin: auto;
}

h2 {font-size: 35px;
    color:#fff;
font-family:OS Aran_400FFC; }



p {font-family:OS Aran_400FFC;
    font-weight: 400;
    font-size: 30px;
   
}
h3{ color: #fff;
font-size: 33px; }
.button {
    text-decoration: none;
    color:#FFF; 
    background:#a22628;
    padding:  12px 12px;
    display: inline-block;
    font-size: 18px;
}
.button:hover{
    background: #FFF;
    color:#000;
}

.button:after{
    content: " >";
}
.container {
    max-width: 1500px;
    margin: auto;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(img/disk.jpg);
  background-position: center 70%;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
    color: #fff;
   display: flex;
  flex-direction: column;
  justify-content: center;
}



.container {text-align: center;
    padding: 15px;
    color:#fff;
    
}

.features {
    background:#000;
    text-align: center;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 70px;
    
}
.features img{
    max-width: 130px;
}


footer {
    background:  #a22628;
    color:#fff;
    text-align: center;
    padding: 2px;
    
}
footer a{
    color: #000;
}


header {
    border: 1px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content:center;
    font-size: 22px
}

nav a {
text-decoration: none;
color: #fff;
padding:29px 0;
display: block;
 border-bottom: 2px solid transparent;

}
nav li {
  margin: 0 30px;
}

nav a:hover{
    border-bottom-color: white;
}
.current a {
  font-weight: bold;
}





video {
max-width: 800px;
width: auto;
 margin-top:60px   
}

.tuner .container {
   display: grid;
    grid-template-columns: 1fr 1fr;
}


h2 {
    font-size: 50px;
    color:crimson
}

.tuner {
    background: #EAEAEA;
    position: relative;
}



.text p{
    color:#000;
}

.custom-shape-divider-top-1619709649 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1619709649 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 76px;
}

.custom-shape-divider-top-1619709649 .shape-fill {
    fill: #000000;
}
.text {
    margin-top: 25px;
}

.opening {
    list-style: none;
    padding: 0;
  text-align: center;
   max-width: 800px;
    margin: auto;
}
.opening li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 20px
  
}
.line{
    flex: 1;
    border-bottom: 1px solid #EAEAEA;
    height: 19px;
    margin: 0 5px;
    
}



.opening-wrap img{
    width: 100px;
    margin: auto;
    display: block;
    
}
.opening-wrap h1{
    text-align: center;
    margin-top: 0;
}
.opening-wrap h1:after{
    margin: auto;
}


